.App {
  margin: 0;
  /* Remove default margin */
}



.about {
  text-align: center;
}

.depsimages {
  mask-image: linear-gradient(to bottom, rgb(18, 16, 16) 80%, rgba(42, 38, 38, 0));
}

.menuTxt {
  text-align: center;
}