.App {
  margin: 0;
  /* Remove default margin */
}

.with-slanted-edge-right {
  position: relative;
  overflow: hidden;
}

.with-slanted-edge-right::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  transform: skewX(-20deg) !important;
  transform-origin: top right;
  z-index: -1;
}

.with-slanted-edge-left {
  position: relative;
  overflow: hidden;
}

.with-slanted-edge-left::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  transform: skewX(20deg) !important;
  transform-origin: top left;
  z-index: -1;
}

.about {
  text-align: center;
}

.depsimages {
  mask-image: linear-gradient(to bottom, rgb(18, 16, 16) 80%, rgba(42, 38, 38, 0));
}

.depstext {
  text-align: center;
}